<%- include('../partials/header') %>
  <div class="payment-page">
    <h2>Car Rental Payment</h2>

    <div class="vehicle-summary">
      <img src="<%= vehicle.imageUrl %>" alt="<%= vehicle.make + ' ' + vehicle.model %>">
      <h3><%= vehicle.make %> <%= vehicle.model %></h3>
      <p><%= vehicle.type %> • <%= vehicle.year %> • <%= vehicle.seats %> seats • <%= vehicle.mpg %></p>
      <p><strong>$<%= vehicle.pricePerDay %>/day</strong></p>
    </div>

    <form action="/rentals/confirm" method="POST">
      <input type="hidden" name="vehicleId" value="<%= vehicle._id %>" />
      <label>Rental Start Date</label>
      <input type="text" name="startDate" id="startDate" required>

      <label>Rental End Date</label>
      <input type="text" name="endDate" id="endDate" required>

      <!-- Payment Info Fields -->
      <label>Card Number</label>
      <input type="text" name="cardNum" maxlength="19" required />
      <label>Expiration</label>
      <input type="month" name="exp" required />
      <label>CVC</label>
      <input type="text" name="cvc" maxlength="4" required />

      <p id="totalPrice" style="margin-top: 1rem; font-weight: 600; color: #007BFF;"></p>

      <button type="submit">Pay Now</button>
    </form>
  </div>
</main>
<script id="bookedRangesJSON" type="application/json">
  <%- JSON.stringify(bookedRanges) %>
</script>
<%- include('../partials/footer.ejs') %>
